.custom-tabs .ant-tabs-tab {
    border: 1px solid #ddd; /* Add border around each tab label */
    border-radius: 5px; /* Add rounded corners */
    margin-right: 8px; /* Add spacing between tabs */
    padding: 5px 15px; /* Add padding inside the tab label */
    background-color: #f9f9f9; /* Light background color */
  }
  
  .custom-tabs .ant-tabs-tab-active {
    border-color: #007bff; /* Highlight active tab with a different border color */
    background-color: #e6f7ff; /* Light blue background for active tab */
  }
  
  .custom-tabs .ant-tabs-tab:hover {
    border-color: #1890ff; /* Change border color on hover */
    background-color: #f0f5ff; /* Slightly darker background on hover */
  }

  #p{
    margin-top: 0px;
    padding: 5px;
    font-size: 14px;
  }
  
  .tabDescription {
    background-color: #e6f7ff; /* Semi-transparent white background */
    padding: 10px; /* Add padding inside the box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    font-size: 14px; /* Adjust font size */
    color: #333; /* Text color */
    margin-bottom: 10px;
    display: inline-block;
  }
    